@font-face {
    font-family: "Droid Serif";
    font-style: normal;
    font-weight: 400;
    src: local("Droid Serif"), local("DroidSerif-Regular"),
        url(./font/droid-serif.woff) format("woff"), url(./font/droid-serif.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    color: #1a1a1a;
}

h1 {
    font-size: 72px;
    line-height: 92px;
}

h2 {
    font-size: 40px;
    line-height: 50px;
}

h3 {
    font-size: 36px;
    line-height: 49px;
}

h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4a4a4a;
}

a {
    color: #1a1a1a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #066f14;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}
