html {
    background: #777;
}

body {
    max-width: 1440px;
    padding: 40px 144px 96px 144px;
    margin: 0 auto;
    background: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1a1a1a;

    margin-left: 331px;
    display: flex;
    gap: 48px;
}

.authorization .primary-button {
    width: 81px;
    height: 42px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

span {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #1a1a1a;
}

.authorization {
    margin-left: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1a1a1a;
}

.section-1 {
    margin-top: 44px;
    display: flex;
    position: relative;
}

.section-1 article {
    margin-top: 52px;
}

.section-1__klipartz5 {
    margin-top: 1px;
    margin-left: 74px;
}

.section-1__klipartz7 {
    position: absolute;
    top: 361px;
    left: 454px;
    width: 234px;
    height: 247px;
}

.section-1 p {
    margin-top: 24px;
}

.section-1 .primary-button {
    width: 160px;
    height: 55px;
    margin-top: 40px;
}

.metrics {
    margin-top: 60px;
    display: flex;
    gap: 112px;
}

.metrics h3 {
    color: #001b04;
    margin-bottom: 10px;
}

.metrics > div {
    text-align: center;
}

.metrics span {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

/*---------------Section-2---------------*/

.section-2 {
    margin-top: 102px;
    display: flex;
    justify-content: space-between;
}

.section-2 > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 389px;
}

.section-2 a {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #4a4a4a;
}

.section-2 > div:last-child {
    display: flex;
    gap: 24px;
}

.section-2 img {
    width: 219px;
    height: 207px;
    background: #f6ede8;
    border-radius: 4px;
    padding: 22px 21px;
}

.section-2 img:nth-child(2) {
    background: #f0f1f6;
}

/*---------------Section-3---------------*/

.section-3 {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin: 128px 26px 0 26px;
}

.section-3 > div {
    width: 516px;
    height: 480px;
    position: relative;
}

.section-3 > div > div {
    width: 446px;
    height: 440px;
    background: #066f14;
}

.section-3 img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 446px;
    height: 440px;
}

.section-3 span {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #066f14;
}

.section-3 h2 {
    margin-top: 12px;
}

.section-3 p:first-of-type {
    margin-top: 24px;
}

.section-3 p:last-of-type {
    margin-top: 16px;
}

.section-3 strong {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4a4a4a;
}

.section-3 a {
    margin-top: 36px;
    width: 155px;
    height: 55px;
}

/*---------------Section-4---------------*/

.section-4 {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.section-4 ul {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.section-4 > ul a {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #4a4a4a;
}

.section-4__active {
    color: #066f14 !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 23px !important;
}

.section-4__items {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

[class*="section-4__item-"] {
    width: 270px;
    height: 283px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 15px;
    padding-bottom: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.section-4 [class*="item-"] > img {
    height: 153px;
    width: 100%;
    object-fit: contain;
}

.section-4 h4 {
    margin-top: 5px;
}

.section-4__stars {
    margin-top: 10px;
}

.section-4 span {
    margin-top: 13px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.section-4__item-1 {
    background: #eaf2e5;
}

.section-4__item-2 {
    background: #f0ebe6;
}

.section-4__item-3 {
    background: #e2ece4;
}

.section-4__item-4 {
    background: #e7eeed;
}

.section-4 a.primary-button {
    margin-top: 40px;
    width: 131px;
    height: 55px;
}

/*---------------Section-5---------------*/

.section-5 {
    margin-top: 128px;
    display: flex;
    justify-content: space-between;
}

.section-5 > div {
    position: relative;
}

.section-5 > div > p {
    margin-top: 12px;
}

.section-5__card-message {
    margin-top: 12px;
}

.section-5__card {
    position: absolute;
    width: 597px;
    height: 204px;
    background: #066f14;
    top: 183px;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 63px;
    padding-bottom: 30px;
}

.section-5__card-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-5__card-image {
    width: 60px;
    height: 60px;
}

.section-5__card-name {
    color: #fff;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.section-5__card-job {
    color: #d9d9d9;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.section-5__card > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #ececec;
}

.section-5__card-q {
    background-image: url(img/quotation-marks.svg);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 24px;
}

.section-5__card-arrows {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
}

.section-5__card-arrows div {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.section-5__card-arrow-left {
    background: #143b19;
    color: #48654b;
}

.section-5__card-arrow-right {
    background: #ffffff;
    color: #066f14;
}

.section-5 > img {
    width: 602px;
    height: 430px;
}

/*---------------Section-6---------------*/

.section-6 {
    margin-top: 164px;
}

.section-6__wrap {
    background: #dfffe3;
    border-radius: 4px;
    margin: auto;
    height: 320px;
    width: 1040px;
    padding-top: 60px;
    padding-left: 59px;
    position: relative;
}

.section-6__wrap p {
    margin-top: 12px;
}

.section-6__wrap-text {
    width: 500px;
}

.section-6__form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 451px;
    height: 56px;
    /* padding: 8px; */
    background: #aaa;
    position: relative;
    border-radius: 4px;
}

.section-6__form input {
    width: 100%;
    height: 100%;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5a5a5a;
    padding-right: 106px;
    padding-left: 20px;

    border-radius: 4px;
    border-width: 0;
}

.section-6__form input:focus {
    outline: none;
}

.section-6__form a {
    width: 98px;
    height: 40px;
    position: absolute;
    right: 8px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #fefefe;
}

.section-6__wrap-image {
    position: absolute;
    right: 24px;
    bottom: 0;
    width: 262px;
    height: 356px;
}

/*---------------Section-6---------------*/

.section-7 {
    margin-top: 79px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-7__header {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: #1a1a1a;
}

.section-7 p {
    text-align: center;
    margin-top: 12px;
    max-width: 554px;
}

.section-7__items {
    margin-top: 40px;
    display: flex;
}

.section-7__items > div {
    position: relative;
}

.section-7__items object {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}

.section-7__items img {
    width: 230px;
    height: 241px;
}

.section-7__items-cover {
    position: absolute;
    width: 230px;
    height: 241px;
    background: rgba(0, 0, 0, 0.34);
    left: 0;
    top: 0;
}

/*---------------Footer---------------*/

footer {
    margin-top: 125px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer__text {
    width: 306px;
}

.footer__text p {
    margin-top: 24px;
}

.footer__social {
    margin-top: 22px;
    display: flex;
    gap: 16px;
}

.footer__social img {
    width: 48px;
    height: 48px;
}

.footer__nav {
    display: flex;
    /* justify-content: space-between; */
}

.footer__map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 128px;
}

.footer__map nav {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
}

.footer__map nav a {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #5a5a5a;
}
